{% extends 'base.html' %}
{% block body %}
<div class="edit-expense">
    <h1>Edit Expense</h1>
    <form method="POST" action="/update_expense/{{expense.id}}">
        <input type="text" name="title" placeholder="Title" value="{{expense.title}}">
        <input type="number" name="amount" placeholder="Amount" value="{{expense.amount}}">
        <input type="number" name="split" placeholder="Split with" value="{{expense.split_with}}">
        <button type="submit">Update</button>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    {% if success %}
    <p>{{ success }}</p>
    {% endif %}
</div>
{% endblock %}